:root {
    --bg-color2: rgb(255, 255, 255);
    --br-color: rgba(245, 239, 235, 0.4);
    --bg-collor: rgba(252, 252, 252, 0.03);
    --sp-collor: #79739a;
    --line-collorr: #f2f2f2;
    --bg-color: white;
    --ft-color: rgba(0, 0, 0, 0.833);
    --ft-color1: rgba(0, 0, 0, 0.833);

    --ft-colorhv: #666;
    --mbg-color: #f0f0f08e;
}

[data-theme='dark'] {
    --bg-color2: rgba(15, 9, 12, 0.56);
    --br-color: rgba(60, 60, 60, 0.4);
    --bg-collor: url("../assets/img/back.jpg");
    --sp-collor: #dbd8eacc;
    --line-collorr: #e0dfe71e;
    --bg-color: radial-gradient(circle at center,
            rgba(255, 255, 255, 0.06) 0%,
            rgba(255, 255, 255, 0.03) 70%);
    --ft-color: rgba(255, 255, 255, 0.833);
    --ft-color1: rgba(255, 255, 255, 0.56);
    --ft-colorhv: rgba(255, 255, 255, 0.56);
    --mbg-color: rgba(255, 255, 255, 0.03);
}


.RowWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 100vw;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    background: var(--bg-collor);
    margin-top: 0px;
    background-position: start center;
    background-size: 100%;
    transition: all 0.5s ease-in-out;
    padding-top: 100px;
}

.Card-class {
    width: 280px;
    height: 370px;
    background-color: var(--bg-color2);
    border-radius: 18px;
    transform-origin: left top;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    transition: all 0.1s ease-out;
    margin: 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.112);
}

.Card-classRight {
    width: 280px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    transform-origin: right top;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Underground';
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-out;
    margin: 0;
}

.FirstCol {
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.SecondCol {
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-family: 'Underground';
    font-size: 20px;
}




.inner-card {
    width: 100%;
    height: 40%;
    background-image: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200);
    border-radius: 12px 12px 0 0;
    transform-origin: left top;
}

.inner-cardT {
    width: 100%;
    flex: 1;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.inner-cardTitle {
    width: 100%;
    height: min-content;
    border-bottom: 2px solid var(--line-collorr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-bottom: 7%;
}

.inner-1Row {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Underground';
    font-family: 'UndergroundHeavy';
    font-size: 20px;
    text-align: center;
    color: var(--ft-color);

}

.IconSale {
    width: min-content;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    height: min-content;
    background-color: #faf2e7;
    color: #a18031;
    font-size: 14px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.inner-2Row p {
    font-family: 'UndergroundHeavy';
    font-size: 14px;
    color: var(--ft-color);
}

.inner-3Row {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: start;
    align-items: center;
    gap: 5px;
}


.AddressText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.489);
    color: var(--sp-collor);
}

.AddressText p {
    height: 10px;
    line-height: 10px;
    margin-top: 3px;
}

.MapIcon {
    width: 16px;
    height: 16px;
    background-image: url(../assets/img/gps.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    background-repeat: no-repeat;
}

.inner-cardInfo {
    width: 100%;
    height: min-content;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--line-collorr);
    padding-bottom: 10px;
}

.Info-1Box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: min-content;
    font-size: 12px;
}

.Info-Icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.RulerIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/ruler.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.BedIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/bed.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.ShowerIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/shower.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.inner-cardOwner {
    margin-top: 5px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.Owner-Img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Owner-Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2px;
}

.Owner-Name p {
    font-size: 17px;
    color: var(--ft-color);
}

.Owner-Name span {
    font-size: 13px;
    color: var(--sp-collor);
}

.Div23 {
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'UndergroundHeavy' Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/trava.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dLayer1 {
    position: absolute;
    inset: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mSpan {
    font-size: 50px;
}

.SpanNight {
    font-size: 14px;
    font-weight: normal;
    color: var(--sp-collor);
}

.SpanText {
    font-size: 14px;
    font-weight: normal;
    color: var(--sp-collor);
}




.Animationblox-Container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    height: min-content;
    width: min-content;
}

.SideBarFilterWrap {
    display: flex;
    z-index: 10;
    width: min-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}



.SideBarWrapItem {
    width: min-content;
    min-height: 100vh;
    background-color: var(--bg-color2);
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 15px;
    border-radius: 40px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    border: 0.5px solid var(--br-color);
    backdrop-filter: blur(30px);


}
.dsada {
    width: 300px;
    height: 300px;
    background-color: red;
}