:root {
    --bg-color2: rgb(255, 255, 255);
    --br-color: rgba(245, 239, 235, 0.4);
    --bg-collor: rgba(252, 252, 252, 0.03);
    --sp-collor: #79739a;
    --line-collorr: #f2f2f2;
    --bg-color: white;
    --ft-color: rgba(0, 0, 0, 0.833);
    --ft-color1: rgba(0, 0, 0, 0.833);

    --ft-colorhv: #666;
    --mbg-color: #f0f0f08e;
}

[data-theme='dark'] {
    --bg-color2: rgba(15, 9, 12, 0.56);
    --br-color: rgba(60, 60, 60, 0.4);
    --bg-collor: url("../assets/img/back.jpg");
    --sp-collor: #dbd8eacc;
    --line-collorr: #e0dfe71e;
    --bg-color: radial-gradient(circle at center,
            rgba(255, 255, 255, 0.06) 0%,
            rgba(255, 255, 255, 0.03) 70%);
    --ft-color: rgba(255, 255, 255, 0.833);
    --ft-color1: rgba(255, 255, 255, 0.56);
    --ft-colorhv: rgba(255, 255, 255, 0.56);
    --mbg-color: rgba(255, 255, 255, 0.03);
}

@font-face {
    font-family: 'Underground';
    src: url(../assets/fonts/P22Underground-Medium.otf) format('truetype');
    /* font-weight: normal; */
}

@font-face {
    font-family: 'UndergroundHeavy';
    src: url(../assets/fonts/P22Underground-Heavy.otf) format('opentype');
    font-weight: normal;
}

.RowWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100vw;
    min-height: 100vh;
    gap: 0px;
    /* padding: 20px; */
    box-sizing: border-box;
    background: var(--bg-collor);
    /* background-color: red; */
    margin-top: 0px;
    /* margin: 10px; */
    padding: 10px;
    background-position: start center;
    background-size: 100%;
    /* transition: all 0.5s ease-in-out; */
    padding-top: 100px;
}

.Animationblox-Container-Controll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
    min-height: min-content;
    gap: 0px;
    box-sizing: border-box;
    margin-top: 0px;
    gap: 20px;
}

.Card-class {
    width: 260px;
    height: min-content;
    /* height: min-content; */
    /* aspect-ratio: 4/5.6; */
    background-color: var(--bg-color2);
    border-radius: 18px;
    transform-origin: left top;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    transition: all 0.1s ease-out;
    margin: 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.112);
    transform-origin: center center;
    /* position: relative; *
    g/
    gap: 10px; */
    gap: 0px;
    padding-bottom: 10px;
}

.inner-card {
    width: 100%;
    height: 140px;
    background-image: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200);
    border-radius: 12px 12px 0 0;
    transform-origin: center center;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.Card-TopRightIcons {
    width: 100%;
    /* background-color: red; */
    height: 50px;
    position: absolute;
    top: clamp(5px, 5vw, 10px);
    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-left: clamp(10px, 5vw, 15px);
    padding-right: clamp(10px, 5vw, 15px);

    /* gap: 4px; */
}

.FavoriteIcon {

    /* right: 0; */

    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: 5;
    background-color: var(--bg-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);

    opacity: 0;

    transition: all 0.2s ease-in-out;
    transform: translateY(20px);

}

.heartIcon {
    background-image: url(../assets/img/heart.png);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;



}

.Card-class:hover .FavoriteIcon {
    opacity: 1;

    transform: translateY(0px);
}

/* .FavoriteIcon:active {
    opacity: 0.8;
} */

/* .Card-class:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
} */
.Card-classRight {
    width: 280px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    transform-origin: right top;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Underground';
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-out;
    margin: 0;
}

.FirstCol {
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.SecondCol {
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-family: 'Underground', Arial, Helvetica, sans-serif;
    font-size: 20px;
}






.Card-class:hover .inner-card {
    /* transform: scale(1.05); */
    background-size: 110%;
}

.inner-cardT {
    width: 100%;
    flex: 1;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.inner-cardTitle {
    width: 100%;
    height: min-content;
    border-bottom: 2px solid var(--line-collorr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-bottom: 7%;
}

.inner-1Row {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-family: 'Underground'; */
    font-family: 'UndergroundHeavy';


    font-size: clamp(10px, 5vw, 20px);
    text-align: center;
    color: var(--ft-color);

}

.IconSale {
    width: min-content;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    height: min-content;
    background-color: #faf2e7;
    color: #a18031;
    font-size: clamp(8px, 5vw, 14px);

    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.inner-2Row {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}

.inner-2Row p {
    font-family: 'UndergroundHeavy';
    font-size: clamp(8px, 5vw, 14px);

    color: var(--ft-color);
}

.inner-3Row {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: start;
    align-items: center;
    gap: 5px;
}


.AddressText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.489);
    color: var(--sp-collor);
    font-family: 'Underground';
}

.AddressText p {
    height: 10px;
    line-height: 10px;
    margin-top: 3px;
}

.MapIcon {
    width: 16px;
    height: 16px;
    background-image: url(../assets/img/gps.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    background-repeat: no-repeat;
}

.inner-cardInfo {
    width: 100%;
    height: min-content;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--line-collorr);
    padding-bottom: 10px;
}

.Info-1Box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: min-content;
    font-size: 12px;
}

.Info-Icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Underground';
    color: var(--ft-color);
}

.RulerIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/ruler.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.BedIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/bed.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.ShowerIcon {
    width: 17px;
    height: 17px;
    background-image: url(../assets/img/shower.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.inner-cardOwner {
    margin-top: 5px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.Owner-Img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Owner-Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2px;
}

.Owner-Name p {
    font-size: 17px;
    color: var(--ft-color);
    font-family: 'Underground';

}

.Owner-Name span {
    font-size: 13px;
    color: var(--sp-collor);
    font-family: 'Underground';

}

.Div23 {
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'UndergroundHeavy', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/trava.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dLayer1 {
    position: absolute;
    inset: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mSpan {
    font-size: 50px;
}

.SpanNight {
    font-size: 14px;
    font-weight: normal;
    color: var(--sp-collor);
}

.SpanText {
    font-size: 14px;
    font-weight: normal;
    color: var(--sp-collor);
}




.Animationblox-Container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 26px;
    height: min-content;
    width: min-content;
    /* background-color: blue; */
}

.Animationblox-Container-Flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, 265px);
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: min-content;

    height: min-content;
    width: 100%;
    flex: 1;
    /* background-color: red; */
}

.SideBarFilterWrap {
    /* background-color: red; */

    display: flex;
    z-index: 10;
    width: min-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    background-color: transparent;
}

.SideBarWrapItemParent {
    width: min-content;
    height: 100vh;
    background-color: var(--bg-color2);

    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 15px;

    justify-content: start;
    align-items: start;
    flex-direction: column;


    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    border: 0.5px solid var(--br-color);
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 10;
    left: 0;
    padding-top: 80px;
    transition: all 0.3s ease-in-out;

}

.SideBarWrapItemParent-mobile {
    width: min-content;
    height: 100vh;
    background-color: var(--bg-color2);

    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 15px;

    justify-content: start;
    align-items: start;
    flex-direction: column;


    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    border: 0.5px solid var(--br-color);
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 10;
    left: 0;
    padding-top: 80px;
    transition: all 0.3s ease-in-out;

}

.SideBarWrapItem {
    width: min-content;
    height: 100%;
    /* background-color: var(--bg-color2); */
    background-color: transparent;
    /* box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05); */
    display: flex;
    gap: 15px;

    justify-content: start;
    align-items: start;
    flex-direction: column;


    box-sizing: border-box;
    /* padding: 30px; */
    margin: 0;
    /* border: 0.5px solid var(--br-color); */
    backdrop-filter: blur(30px);


    overflow-y: auto;
}

.SideBarWrapItem::-webkit-scrollbar {
    display: none;
}

.SideBarWrapItemOpacity {
    width: min-content;
    min-height: 100vh;
    background-color: var(--bg-color2);
    /* box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05); */
    display: flex;
    gap: 15px;
    border-radius: 40px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: red; */

    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    border: 0.5px solid var(--br-color);
    backdrop-filter: blur(30px);
    opacity: 0;
}

/* @media (max-width: 1350px) {
    .Animationblox-Container-Flex {
        grid-template-columns: repeat(2, min-content);
    }
}

@media (max-width: 1050px) {
    .Animationblox-Container-Flex {
        grid-template-columns: repeat(1, min-content);
    }
}
 */
@media (max-width: 750px) {
    .SideBarWrapItemOpacity {
        display: none;

    }

    .SideBarWrapItemParent {
        display: flex;

    }

    .Animationblox-Container-Flex {
        grid-template-columns: repeat(2, min-content);
    }
}

@media (max-width: 550px) {
    .SideBarWrapItemOpacity {
        display: none;

    }

    .SideBarWrapItemParent {
        display: flex;

    }

    .Card-class {
        width: 85vw;

    }

    .Animationblox-Container-Flex {
        grid-template-columns: repeat(1, min-content);
    }

    .RowWrapper {
        margin-left: 0px;
        margin-right: 0px;

    }
}




.dsada {
    width: 300px;
    height: 300px;
    background-color: red;
}

.Pagination-Controll-ClassParent {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.PagePag-class {
    width: min-content;
    height: min-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
    gap: 15px;

}

.ArrowLBtn {
    width: 100px;
    height: 35px;
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 13px;
    color: var(--ft-color);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
    font-family: 'UndergroundHeavy', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    border: 1px solid #d5d5d54a;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    text-align: center;

    justify-content: center;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.ArrowLBtn p {
    /* background-color: red; */
    margin-top: 3px;
}

.ArrowL {
    width: 15px;
    aspect-ratio: 1/1;

    background-image: url(../assets/img/arrowLdark.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;

}

.ArrowR {
    width: 15px;
    aspect-ratio: 1/1;

    background-image: url(../assets/img/arrowdark.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.ArrowLBtn:hover {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    /* transform: scale(1.02); */
}

.PagePag-Numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 13px;
    font-size: 15px;
    font-family: 'UndergroundHeavy', Arial, Helvetica, sans-serif;

    width: min-content;
    min-width: 70px;
    height: 35px;
    background-color: #768dfe;
    box-shadow: inset 0px 5px 5px 1px #5649ef;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.PagePag-Numbers p {
    color: white;
    margin-top: 3px;
    padding: 0;
    line-height: 100%;
    text-align: center;
}

.Link-No-Style {
    text-decoration: none;
    color: inherit;
}

.CloseFilterBtn {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    height: 50px;
    background-color: black;
    border-radius: 15px;
    border: 0;
    color: white;
    font-family: 'UndergroundHeavy', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CloseFilterBtn:hover {
    background-color: #000000f8;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

.CloseFilterBtn p {
    margin-top: 3px;
    line-height: 100%;
    text-align: center;
}

.CircleIconLight {
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid rgba(60, 60, 60, 0);
    border-radius: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.CircleIconLight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../assets/img/searchD.png);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    transform-origin: center center;
    position: absolute;
    opacity: 1;

}

.CircleIconLight::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../assets/img/searchD.png);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    transform-origin: center center;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;

}

.CloseFilterBtn:hover .CircleIconLight::before {
    transform: translateY(-100%);
    opacity: 0;
}

.CloseFilterBtn:hover .CircleIconLight::after {
    transform: translateY(0);
    opacity: 1;
}