:root {
    --bg-hcolor: rgba(255, 255, 255, 0.80);
    --bg-hcolor1: rgb(253, 253, 253);
    --ft-color: black;
    --br-hcolor: rgba(60, 60, 60, 0.07);
    --c-color: rgba(255, 255, 255, 0.993);

}

[data-theme="dark"] {
    --bg-hcolor: rgba(15, 9, 12, 0.56);
    --bg-hcolor1: rgba(15, 9, 12, 0.56);
    --ft-color: white;
    --c-color: rgba(30, 29, 33, 0.993);
    --br-hcolor: rgba(60, 60, 60, 0.4);
}



.HeaderMenu-class {
    position: fixed;
    display: flex;
    width: 70vw;
    height: 60px;
    transform-origin: center center;
    transform: translate(-50%);
    top: 5px;
    left: 50%;
    z-index: 200;
    border-radius: 30px;
    background-color: var(--bg-hcolor);
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    border: 0.5px solid var(--br-hcolor);
    backdrop-filter: blur(30px);
    padding: 3px;
}

.InnerIcon {
    height: 100%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.InnerIcon p {
    font-size: 15px;
    white-space: nowrap;
    font-family: "Golos Text", sans-serif;
    margin: 10px;
    color: var(--ft-color);
}

.InnerIconT p {
    font-size: 15px;
    white-space: nowrap;
    font-family: "Golos Text", sans-serif;
    margin-right: 20px;
    color: var(--ft-color);
}

.ProfileImage {

    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 50%;
    background: url(https://img.freepik.com/free-psd/3d-render-avatar-character_23-2150611737.jpg?semt=ais_hybrid&w=740&q=80);
    background-position: center center;
    background-size: cover;
    transition: transform 0.1s ease-in-out;
}

.ProfileImage:active {
    transform: scale(0.95);
}

.CircleIcon {
    height: 100%;
    background-color: var(--bg-hcolor1);
    border: 0.5px solid var(--br-hcolor);
    border-radius: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CircleIconT {
    height: 100%;
    background-color: rgba(15, 9, 12, 0.56);
    border: 0.5px solid rgba(60, 60, 60, 0.4);
    border-radius: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#heartIcon {
    width: 100%;
    height: 100%;
    background: url(../assets/img/heart.png);
    background-position: center center;
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

#basketIcon {
    width: 100%;
    height: 100%;
    background: url(../assets/img/shopping-basketD.png);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

#basketIcon1 {
    width: 100%;
    height: 100%;
    background: url(../assets/img/shopping-basket.png);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

#IconDev {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/iconD.png);
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

#houseP {
    margin-left: 0px;
}

#basketIcon:hover,
#heartIcon:hover {
    opacity: 0.7;
}

#basketIcon:active,
#heartIcon:active {
    transform: scale(1.05);
}

.RightMenu-div {
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.classLight {
    flex: 1;
    height: 100%;
    outline: none;
    border: 0;
    font-family: "Golos Text", sans-serif;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    font-size: 15px;
}



.SearchValue {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 0.5px solid rgba(60, 60, 60, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    gap: 3px;
}

.classLight::placeholder {
    color: rgba(0, 0, 0, 0.589);
}

.CircleIconLight {
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid rgba(60, 60, 60, 0);
    border-radius: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.CircleIconLight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../assets/img/searchD.png);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    transform-origin: center center;
    position: absolute;
    opacity: 1;

}

.CircleIconLight::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../assets/img/searchD.png);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    transform-origin: center center;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;

}

.CircleIconLight:hover::before {
    transform: translateY(-100%);
    opacity: 0;
}

.CircleIconLight:hover::after {
    transform: translateY(0);
    opacity: 1;
}



.InnerMenu {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

.InnerMenu ul {
    position: absolute;
}

.ProfileIconM {
    width: min-content;
    height: 50px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in-out;
    z-index: 100;
    outline: none;
    border: 0;
    background: transparent;
}


.ProfileIcon {
    width: min-content;
    background-color: var(--bg-hcolor);
    border: 0.5px solid var(--br-hcolor);
    border-radius: 25px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    align-items: start;
    position: relative;
    color: var(--ft-color);
    overflow: visible;
    z-index: auto;
}

.InnerBlock {
    position: absolute;
    top: 115%;
    transition: height 0.5s ease-in-out;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--bg-hcolor);
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    border: 0.5px solid var(--br-hcolor);
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: auto;
    gap: 5px;
    box-sizing: border-box;
    padding: 5px;

}

.CInner {
    border-radius: 40px;
    width: 100%;
    height: 50px;
    background-color: var(--c-color);
    z-index: 101;
    min-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    outline: none;
    border: 0;
}

.settingIcon {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/settingD.png);
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

.settingIcon1 {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/setting.png);
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

.LogIcon {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/sign-out-optionD.png);
    background-position: center center;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

.LogIcon1 {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/sign-out-option.png);
    background-position: center center;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

#ThemeIcon {
    aspect-ratio: 1 / 1;
    height: 100%;
    background: url(../assets/img/sunD.png);
    background-position: center center;
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    transform-origin: center center;
}

.InnerIcon-true {
    height: 100%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: start;
    transition: opacity 0.1s ease-in-out;
}

.InnerIcon-true p {
    font-size: 15px;
    white-space: nowrap;
    font-family: "Golos Text", sans-serif;
    margin: 15px;
    color: var(--ft-color);
}

.CInner:hover div {
    opacity: 0.7;
}

.IconDevDB {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
}