:root {
    --scrollTop: 0;
    --scrollText: 0;
    --card-bg-color: white;
    --ft-color-master: rgba(0, 0, 0, 0.833);
}



[data-theme='dark'] {
    --card-bg-color: #000000e2;
    --ft-color-master: rgba(255, 255, 255, 0.833);

}

.BackgroundPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.FirstCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
}

.Layer1 {
    inset: 0;
    bottom: -55%;
    position: absolute;
    background-image: url(..//assets/img/botomgood.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start center;
    z-index: 4;
    transform: translateY(calc(var(--scrollTop)/-10));
    transition: transform 0.5s ease-out;
    will-change: transform;
}

.Layer2 {
    inset: 0;
    top: 10%;
    position: absolute;
    background-image: url(../assets/img/HouseEnd1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start center;
    z-index: 3;
    transform: translateY(calc(var(--scrollTop)/7));
    transition: transform 0.5s ease-out;
    will-change: transform;
}

.Layer3 {
    inset: 0;
    position: absolute;
    background-image: url(../assets/img/AIHouse.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start center;
    z-index: 1;
}

.Layer4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: bolder;
    letter-spacing: -5px;
    width: 1000px;
    z-index: 2;
    color: white;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Layer4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: bolder;
    letter-spacing: -5px;
    width: min-content;
    z-index: 2;
    color: white;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.mSpan2 {
    display: inline-block;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: bolder;
    letter-spacing: -5px;
    z-index: 2;
    color: white;
}


.FirstRow {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.SecondRow {
    width: 50%;
    height: 100vh;
    background-image: url(../assets/planofhouse1.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.hText {
    width: 100%;
    height: 100px;
    padding-top: 50px;
}

.hText p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -2px;
    z-index: 2;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

.PText {
    flex: 1;
    width: 80%;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.PText :nth-last-child(1) {
    border-bottom: 0;
}

.RowFontText {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: 20px;
}

.ThirdCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    perspective: 1000px;
    background: linear-gradient(-170deg, #0d1216, #001629);
    gap: clamp(20px, 5vw, 30px);
    box-sizing: border-box;
}

.carusel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.EmptySpace {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
}

.carusel1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.123),
            rgba(255, 255, 255, 0.023),
            rgba(255, 255, 255, 0.104));
    height: 100%;
    border-radius: 18px;
    transform-origin: left bottom;
    border: 1px solid rgba(255, 255, 255, 0.36);
    outline: none;
    backdrop-filter: blur(10px);
    will-change: rotate;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.048);
    transition: all 0.2s ease-out;
}



.innerCarusel {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 18px;
    position: relative;
    will-change: transform;
    transition: transform 0.5s ease-out;
}

.innerItem1,
.innerItem2,
.innerItem3 {
    width: 100%;
    height: 100%;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-image: url(https://bigfoto.name/uploads/posts/2022-02/1645639980_1-bigfoto-name-p-samie-uyutnie-doma-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.innerItem2 {
    top: 150%;
    background-color: rgb(140, 0, 255);
    background-image: url(https://domsbobrom.com/uploads/images/projects/Sintia/lk1630_06_draft01-1500x1072.jpg);
}

.innerItem3 {
    top: 250%;
    background-color: rgb(255, 0, 0);
    background-image: url(https://newphoto.club/pics/uploads/posts/2023-03/1678767042_newphoto-club-p-krasivie-doma-v-zhizni-48.jpg);
}

.ImageBtn {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.FirstCol2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    flex-direction: row;
    background-color: var(--card-bg-color);
    transition: background-color 0.3s ease;
    gap: clamp(20px, 5vw, 100px);
}

.CardMoveback {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CardMovebacksec {
    width: 35%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardMover {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Imaged-class {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: aqua;
}

.textclass-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.textclass-div p {
    font-family: 'Underground', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--ft-color-master);
}