 ---------- Глобальні змінні ----------
:root {
  --white-color: #fff;
  --gray-color: #aeb4a6;
  --green-color: #94de1d;
  --index: calc(1vw + 1vh);
  --transition: ease-in-out;
  --grid-width: 1140px;
  --grid-gutter: .5em;
}

/* ---------- Скидання стилів ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.page {
  height: 100%;
  background-color: #2B474B;
  color: var(--white-color);
  font-family: montserrat-g, sans-serif;
  overflow: hidden;
  z-index: 100;
}

/* ---------- Підключення шрифтів ---------- */
@font-face {
  font-family: montserrat-g;
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: montserrat-g;
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: montserrat-g;
  src: url(../fonts/Montserrat-Black.woff2);
  font-weight: 900;
}

@font-face {
  font-family: montserrat-g;
  src: url(../fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

/* ---------- Контейнерна система ---------- */
.container {
  max-width: calc(var(--grid-width) + var(--grid-gutter) * 2);
  min-width: calc(320px + var(--grid-gutter) * 2);
  padding: 0 var(--grid-gutter);
  margin: auto;
}

.row {
  display: flex;
  margin: 0 calc(var(--grid-gutter) * -1);
}

.col {
  width: fit-content;
  padding: 0 var(--grid-gutter);
}

.col--lead {
  flex: 1;
}

.col--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col--right {
  display: flex;
  justify-content: right;
}

/* ---------- Верхня панель ---------- */
.top-line {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(30, 30, 30, 0.3);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  color: white;
  animation: slideDown 1.5s ease-out;
}

/* ---------- Логотип ---------- */
.logo img {
  width: 150px;
  display: block;
}

/* ---------- Меню ---------- */
.main-menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.main-menu li>* {
  color: var(--gray-color);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  position: relative;
  transition: 0.3s;
}

.main-menu li.active>*,
.main-menu li:hover>* {
  color: var(--white-color);
}

.main-menu li>*::before,
.main-menu li>*::after {
  content: '';
  display: inline-block;
  height: 2px;
  background-color: var(--green-color);
  width: 11px;
  vertical-align: middle;
  border-radius: 10em;
  margin: 0 7px;
  visibility: hidden;
}

.main-menu li.active>*::before,
.main-menu li.active>*::after,
.main-menu li:hover>*::before,
.main-menu li:hover>*::after {
  visibility: visible;
}

/* ---------- Кнопки ---------- */
.button {
  padding: 1em 2.6em;
  color: var(--white-color);
  background-color: var(--green-color);
  border: 1.5px solid transparent;
  border-radius: 10em 0 10em 10em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.75em;
  cursor: pointer;
  transition: 0.3s;
}

.button--top {
  background-color: transparent;
  border-color: var(--green-color);
  margin: 0 2em 0 3em;
}

.button--main {
  margin-top: 3em;
  padding: 1.6em 3.5em;
}

.button:hover {
  background-color: var(--green-color);
  color: #000;
}

/* ---------- Контент ---------- */
.header-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content h1 {
  font-size: calc(var(--index) * 8);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  animation: float 4s ease-in-out infinite;
}

.header-content p {
  max-width: 560px;
  font-weight: 600;
  line-height: 1.4;
  display: inline-block;
  font-size: 1.2rem;
  color: var(--white-color);
}

/* ---------- Анімація для літер ---------- */
.letter {
  display: inline-block;
  text-shadow: 25px 0 35px rgba(0 0 0 / .4);
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 1s var(--transition), transform 1s var(--transition);
}

.letters:hover .letter {
  transform: translateY(-10px);
  opacity: 1;
  color: var(--green-color);
}

/* ---------- Анімації ---------- */
@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.BackgroundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  /* background-color: aquamarine; */
  margin: 0;
  padding: 0;
}

.FirstCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  /* filter: blur(5px); */

}

.Layer1 {
  inset: 0;
  bottom: -55%;
  position: absolute;
  background-image: url(../assets/img/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start center;
  z-index: 1;
  transform: translateY(calc(var(--scrollTop)/-10));
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.Layer2 {
  inset: 0;
  top: 10%;
  position: absolute;
  background-image: url(../assets/img/slide-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start center;
  z-index: 2;
  transform: translateY(calc(var(--scrollTop)/7));
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.Layer3 {
  inset: 0;
  position: absolute;
  background-image: url(../assets/img/slide-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start center;
  z-index: 4;
}