.rc-slider {
    width: 80%;
    /* background-color: aquamarine; */
}

.rc-slider-rail {
    height: 8px;
    background-color: #ebebeb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rc-slider-track {
    height: 8px;
    /* background: linear-gradient(90deg, #4C763B 0%, #043915 100%); */
    background-color: rgba(0, 0, 0, 0.599);
    border-radius: 4px;
}

.rc-slider-handle {
  
    background-color: white;
    width: 20px;
    opacity: 1;
    height: 20px;
    transform-origin: center center;
    border: 5px solid #4f46e5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: -6px;

}

.rc-slider-handle:hover {
   
    background-color: white;
    width: 20px;
    opacity: 1;
    height: 20px;
    transform-origin: center center;
    border: 5px solid #4f46e5;

}

.rc-slider-handle:focus {

    background-color: white;
    width: 20px;
    opacity: 1;
    height: 20px;
    transform-origin: center center;
    border: 5px solid #4f46e5;

}

.rc-slider-handle:active {

    background-color: white;
    width: 20px;
    opacity: 1;
    height: 20px;
    transform-origin: center center;
    border: 5px solid #4f46e5;

}

@keyframes animationStart {
    0% {
        opacity: 0.5;
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(0);

    }

    100% {
        opacity: 1;

    }

}

.LabelSlider {
    width: auto;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    z-index: 1;
    position: relative;
    animation: animationStart 0.5s ease-in-out;
    transform-origin: left 
    top;
    transition: 0.3s all ease-in-out;

}

.LabelSlider p {
    font-size: 14px;
    z-index: 1;

}

.rc-slider-mark {

    top: -55px;
    left: -5px;
}

.rc-slider-dot {
    display: none;
}

.InnerArrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;

    border-right: 20px solid transparent;

    border-top: 20px solid black;

    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}