body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff1f53c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Underground';
  src: url('./assets/fonts/P22Underground-Medium.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'UndergroundHeavy';
  src: url(../assets/fonts/P22Underground-Heavy.otf) format('opentype');
  font-weight: normal;
}